.che/
.gen/
gen/
mta_archives/
node_modules/
target/

.cds_gen.log
connection.properties
*.db
.DS_Store
*.orig
_out
default-*.json
package-lock.json

fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
/mta_archives/
visual_ext_index.html
/webapp/visual_ext_index.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js